html, body{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
.nav-background{
  background-color: #000;
  color: #fff;
  opacity: 0.75;
  font-size: 20px;
}
.nav-background a:hover{
  text-decoration: none;
  color: #66e0ff;
}
.nav-link{
  padding: 8px;
  color: white;
}
.intro{
  height: 100%;
  background-image: url("../Pictures/pinksky.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.header-intro{
  padding-top: 200px;
  padding-right: 300px;
}
.github, .linkedin, .resume{
  color: #fff;
}
.github:hover, .linkedin:hover, .resume:hover{
  color: #ff9999;
}
.contact-github .fa-github, .contact-linkedin .fa-linkedin-in, .contact-resume .fa-file-alt{
  color: white;
  font-size: 40px;
}
.contact-github .fa-github:hover, .contact-linkedin .fa-linkedin-in:hover, .contact-resume .fa-file-alt:hover{
  color: yellow;
}
.fa-github, .fa-linkedin-in{
  font-size: 24px;
  margin: 10px;
}
 .fa-file-alt{
   font-size: 22px;
   margin: 10px;
 }

.skills{
  background-color: #353535;
}
.fa-java, .fa-python, .fa-android, .fa-css3, .fa-html5, .fa-js {
  font-size: 36px;
  color: white;
}
.fa-java{
  color: #00ace6;
}
.fa-python{
  color: #ff9933;
}
.fa-android{
  color: #00e600;
}
.fa-css3{
  color: #0099ff;
}
.fa-html5{
  color: #ff8533;
}
.fa-js{
  color: #e6e600;
}
.contact-info{
  height: 500px;
  width: auto;
  background-image: url(" ../Pictures/computer1.jpg");
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: .8;
}
.contact-separator{
  border-bottom: 3px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: yellow;
  width: 300px;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}
#name-header{
  text-shadow: 1px 1px #000;
  letter-spacing: 4px;
}
#subName-header{
  text-shadow: 1px 1px #000;
  letter-spacing: 3px;
}
#about-background{
  background-image: linear-gradient(to bottom right, #ffeee6, #ff9966);
  height: 80%;
}
#about-image{
  height: 450px;
}
#progress-icons{
  height: 46px;
}
#java-and-bar{
  background-color: #00b3b3;
}
#python-bar{
  background-color: #9966ff;
}
#c-bar{
  background-color: #ff6666;
}
#js-bar{
  background-color: #00e673;
}
#html-css-bar{
  background-color: #ffff33;
}
#contact-header{
  text-shadow: 1px 1px #000;
  letter-spacing: 4px;
  font-size: 40px;
  padding-top: 100px;
}
#contact-email{
  text-shadow: 1px 1px #000;
  letter-spacing: 2px;
  font-size: 30px;
  color: #fff;
}
#contact-email:hover{
  text-decoration: none;
  color: yellow;
}
